img { 
  width:100px; 
}

a {
  text-decoration: none;
  color:red;
  font-size:36px;
}

a:hover {
  color:dodgerblue;
}

#pink-jelly {
  color: deeppink;
}

#yellow-jelly {
  color: #ff9900;
}

#orange-jelly {
  color: #ff3300;
}
li:before {
  content: '🎐'
}